export("%cb%")
export("%ex%")
export("%rb%")
export(.action)
export(.in)
export(.is)
export(.param)
export(.within)
export(apply_naming)
export(create_naming)
export(exe)
export(extract.from.template)
export(full.format)
export(is.action)
export(is.condition)
export(is.param)
export(length.template)
export(pair.of)
export(real.names)
export(subdivide)
export(subset2)
export(subset2i)
export(symmetric.pair.of)
export(test.wrapper)
export(when)
import(composite)
import(lazyr)
import(plyr)
S3method("$",exeres)
S3method("[",exeres)
S3method(names,exeres)
